body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select, input[type="radio"] {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

#tipoTreino {
    margin-top: 10px;
}

button, .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

#resultado-treino {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}

#resultado {
    margin-bottom: 40px; /* Adiciona um espaço abaixo do resultado para garantir que o botão fique separado */
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}